.gui {
/*  width: 175px; /* Width of the outside container */
  width: 215px; /* Width of the outside container */
  height: 60px;
/*  background-color: lightgray; */
  background-color: #eeeeee;
  position:absolute;
  box-shadow: 0 0 6px #000;
/*  position:relative; */
  top:10;
  left: 10;
  z-index: 10;
  border-radius: 4px;
  padding: 10px; 
}



.sliderdivcontainer {
/*  width: 175px; /* Width of the outside container */
  width: 215px; /* Width of the outside container */
  height: 60px;
/*  background-color: lightgray; */
  background-color: #eeeeee;
  position:absolute;
  box-shadow: 0 0 6px #000;
/*  position:relative; */
  bottom:10;
  left: 10;
  z-index: 10;
  border-radius: 4px;
  padding: 10px; 
}

.shadowCheckBox {
	margin-left:5px;
	margin-bottom:2px
}

.dateShadowPicker {
	margin-left:10px;
	margin-bottom:15px
}

.slidercontainer {
  /* position: relative; */
  /* top: 50%; */
  /* left: 50%; */
  /* -webkit-transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
	margin-left: 10 !important;
	margin-right: 10 !important;
	width: 85%;
}

.slider {
	/* position: relative; */

/* text-align: center; */
	width: 80%;
}

.attributioncontainer {
	position:absolute;
	bottom:0;
	right:10;
	z-index: 10;
}


